# misc
.DS_Store
__pycache__

# Build Artifacts
start-build.json
src/janis_builder_base/requirements.txt
zappa_settings.json
node_modules/
*.tmp
.serverless/

# Secrets
.env
*.pem

# dev
local
dist
.idea
